.slide-item{
    max-width: 200px;

    .slide-image-container {
        position: relative;

        &.has-image {

            .slide-upload-button {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }

        }

        &:hover {
            .slide-upload-button {
                display: block;
            }
        }
    }
}
