@use 'variables' as vars;

.wp-block-task-2025-advanced-slider {

  width: 1000px;
  max-width: 100%;
  margin-inline: auto;

  .slider-nav {
    display: flex;
    justify-content: end;
    margin-bottom: vars.$slider-gap;
  }

  .slider {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .slider-grid {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
      // grid-auto-columns: calc(100% / #{vars.$slider-max-columns});
      gap: vars.$slider-gap;
      scroll-snap-align: start;

      .slide-item {
        grid-row: 2;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        padding: 16px;
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: 8px;
        scroll-snap-align: start;
        min-width: vars.$slider-min-item-width;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            grid-column: #{$i};
            grid-row: 1;
          }
        }

        .slide-icon {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }

        h3 {
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
          color: #2d2d2d;
        }

        .slide-desc {
          p {
            margin: 0;
            font-size: 0.92rem;
            line-height: 1.5;
            color: #555;
          }
        }
      }

      > .slide-item:nth-child(-n + #{vars.$slider-max-columns}) {
        grid-row: 1;
      }
    }

    &:not(.has-more-than-5) .slider-nav {
      display: none;
    }
  }
}
